@use '../common' as var;

.home{
    &_wrap{
        height: 100dvh;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
    }
    &_w{
        max-width: 1280px;
        width: 100%;
        @media (max-width:1280px) {
            width: 95%;
        }
    }
    &_title_box{
        @include var.main-title($line-height:1.3);
        user-select: none;
        text-align: center;
    }
    &_item_box{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        li{
            width:  calc(33.333% - 10px);
            font-size: 18px;
            border: solid 1px var(--main-color);
            border-radius: 5px;
            cursor: move;
            @media (max-width:768px) {
                width:  calc(50% - 10px);
            }
            &.dragging{
                border-color: var(--maincolor);   /* 배경 밝게 */    
            }

        }
    }
    &_item_text{
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
        @include var.main-text;
    }
}
