@use './var'as var;

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--main-bg);
    color: var(--main-color-text);
    @include var.main-text();
}
a{
    color: var(--main-color-text);
}

//z-index 관리
// 모달,로딩 999 헤더 99  나머지 9
// 컨텐츠 라인
.main_cont_w{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    @media (max-width:1280px) {
        width: 95%;
    }
}
.fixed_btn_layout{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 99;
    @media (max-width:1280px) {
        bottom: 10px;
        right: 10px; 
        gap: 5px; 
    }
}
//--------------------------------------------------------------------------------------컴포
// 모달 기본값
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    &_bg{
        width: 100%;
        height: 100dvh;
        background-color: #3333338e;  
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &_500w{
        width: 100%;
        max-width: 1000px;
        @media (max-width:768px) {
            width: 95%;
        }
    }
    &_box{
        background-color: var(--main-bg);
        border: solid 1px var(--main-color);
        padding: 20px;
        box-sizing: border-box;
        border-radius: 10px;
    }
    &_cont{
        margin-top: 10px;
        max-height: 70dvh;
        overflow: auto;
    }
    &_close{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
//alert
.alert{
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 10px;
    color: var(--alert-text);
    background-color: var(--alert-bg);
    @include var.main-text;
    box-shadow: var(--alert-shadow);
}
//로딩
.loading{
    background-color: transparent;
    &_top{
        position: fixed;
        top: 0;
        left: 0;
        height: 50dvh;
        width: 100%;
        background-color: var(--main-bg);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        transform: translateY(0); // 기본 닫힘
        z-index: 999;
        h2{
            @include var.main-title($line-height:1.5)
        }
    }
    &_bottom{
        position: fixed;
        bottom: 0;
        left: 0;
        height: 50dvh;
        width: 100%;
        background-color: var(--main-bg);
        transform: translateY(0); // 기본 닫힘
        z-index: 999;
    }
    &.open {
    .loading_top {
      transform: translateY(-100%);
      transition: all 0.6s;
    }
    .loading_bottom {
      transform: translateY(100%);
      transition: all 0.6s;
    }
  }
}

//공통 컴포넌트
.common_btn{
    border: solid 1px var(--main-btn-border);
    color: var(--main-btn-text);
    background-color: var(--main-btn-bg);
    padding: 5px 10px;
    border-radius: 5px;
    @include var.main-text($line-height:1);
    cursor: pointer;
    &:hover {
        background-color: var(--main-btn-border);
        color: var(--main-btn-bg);
    }
    &.reverse{
        border: solid 1px  var(--main-btn-text);
        color: var(--main-btn-bg);
        background-color: var(--main-btn-text);
            &:hover {
        background-color: var(--main-btn-bg);
        color: var(--main-btn-border);
    }
    }
}
// 코드 보여주기 view
.code_view{
    user-select: none;
    margin: 0 !important;
    font-size: 16px !important;
}
// 코드 설명 보여주기 버튼
.code_view_btn{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: var(--codeBtn-bg1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
       
    &_1{
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: var(--codeBtn-bg2);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        
    }
    &_2{
        width: 16px;
        height: 16px;
         border-radius: 100%;
        background-color: var(--codeBtn-bg3);
        animation: ripple 1s ease-out infinite;
      
    }
}
@keyframes ripple {
    0% {
        transform: scale(0.5);
        opacity: 1;
    }
    70% {
        transform: scale(2);
        opacity: 0.3;
    }
    100% {
        transform: scale(3);
        opacity: 0;
    }
}
//--------------------------------------------------------------------------------------컴포
//--------------------------------------------------------------------------------------header

