:root{
    --main-bg:#fff;
    --main-color: #374151;
    --main-border: #374151;
    --main-color-text:#374151;
    --main-menu-bg:#f1f1f1;
    // 기본 버튼
    --main-btn-bg:#fff;
    --main-btn-border:#374151;
    --main-btn-text:#374151;
    // svg 색상
    --stroke-color: #0F1B2A;
    //코드리뷰 버튼 색상
    --codeBtn-bg1:#fff;
    --codeBtn-bg2:#374151;
    --codeBtn-bg3:#445d85;
    //alert 색상
    --alert-text:#fff;
    --alert-bg:#374151;
    --alert-shadow:rgb(38, 57, 77) 0px 2px 4px 0px, rgb(38, 57, 77) 0px 2px 16px 0px;
}
[data-theme="dark"] {
    --main-bg:#374151;
    --main-color: #3B82F6;
    --main-border: #3B82F6;
    --main-color-text:#F3F4F6;
     --main-menu-bg:#4f5c72;
    // 기본버튼
    --main-btn-bg:#374151;
    --main-btn-border:#3B82F6;
    --main-btn-text:#3B82F6;
     // svg 색상
    --stroke-color: #F3F4F6;
    //코드리뷰 버튼 색상
    --codeBtn-bg1:#374151;
    --codeBtn-bg2:#3B82F6;
    --codeBtn-bg3:rgb(87, 135, 212);
    //alert 색상
    --alert-text:#fff;
    --alert-bg:#3B82F6;
    --alert-shadow:rgb(105, 159, 218)0px 2px 4px 0px, rgb(105, 159, 218) 0px 2px 16px 0px;;
}

@mixin main-title($font-size:24px, $font-weight:700, $line-height:1) {
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    @media (max-width:768px) {
        font-size: 18px;
        font-weight: 700;
    }
}
@mixin main-text ($font-size:18px, $font-weight:400, $line-height:1){
    font-size: $font-size;
    font-weight:$font-weight;
    line-height: $line-height;
    @media (max-width:768px) {
        font-size: 12px;
        font-weight: 400;
    }
}